<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.idealighter.game.dao.dic.mapper.OrdermaRoomMapper">
  <resultMap id="BaseResultMap" type="com.idealighter.game.dao.dic.po.OrdermaRoom">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="type" jdbcType="INTEGER" property="type" />
    <result column="maxNum" jdbcType="INTEGER" property="maxnum" />
    <result column="free" jdbcType="INTEGER" property="free" />
    <result column="general" jdbcType="INTEGER" property="general" />
    <result column="crowded" jdbcType="INTEGER" property="crowded" />
    <result column="lower" jdbcType="INTEGER" property="lower" />
    <result column="upper" jdbcType="INTEGER" property="upper" />
    <result column="ordinarPeople" jdbcType="INTEGER" property="ordinarpeople" />
    <result column="proportionGold" jdbcType="INTEGER" property="proportiongold" />
    <result column="proportionChips" jdbcType="INTEGER" property="proportionchips" />
    <result column="table" jdbcType="INTEGER" property="table" />
    <result column="chair" jdbcType="INTEGER" property="chair" />
    <result column="top" jdbcType="INTEGER" property="top" />
    <result column="minOne" jdbcType="INTEGER" property="minone" />
    <result column="maxOne" jdbcType="INTEGER" property="maxone" />
    <result column="afee" jdbcType="INTEGER" property="afee" />
    <result column="inType" jdbcType="INTEGER" property="intype" />
    <result column="displays" jdbcType="VARCHAR" property="displays" />
    <result column="placeHolder" jdbcType="VARCHAR" property="placeholder" />
    <result column="isActive" jdbcType="TINYINT" property="isactive" />
    <result column="timeCreate" jdbcType="TIMESTAMP" property="timecreate" />
    <result column="timeOpen" jdbcType="TIMESTAMP" property="timeopen" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    id, name, type, maxNum, free, general, crowded, lower, upper, ordinarPeople, proportionGold, 
    proportionChips, table, chair, top, minOne, maxOne, afee, inType, displays, placeHolder, 
    isActive, timeCreate, timeOpen
  </sql>
  <select id="selectByExample" parameterType="com.idealighter.game.dao.dic.po.OrdermaRoomExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from orderma_room
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
    <if test="limit != null">
      <if test="offset != null">
        limit ${offset}, ${limit}
      </if>
      <if test="offset == null">
        limit ${limit}
      </if>
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from orderma_room
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from orderma_room
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.idealighter.game.dao.dic.po.OrdermaRoomExample">
    delete from orderma_room
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.idealighter.game.dao.dic.po.OrdermaRoom">
    insert into orderma_room (id, name, type, 
      maxNum, free, general, 
      crowded, lower, upper, 
      ordinarPeople, proportionGold, proportionChips, 
      table, chair, top, 
      minOne, maxOne, afee, 
      inType, displays, placeHolder, 
      isActive, timeCreate, timeOpen
      )
    values (#{id,jdbcType=INTEGER}, #{name,jdbcType=VARCHAR}, #{type,jdbcType=INTEGER}, 
      #{maxnum,jdbcType=INTEGER}, #{free,jdbcType=INTEGER}, #{general,jdbcType=INTEGER}, 
      #{crowded,jdbcType=INTEGER}, #{lower,jdbcType=INTEGER}, #{upper,jdbcType=INTEGER}, 
      #{ordinarpeople,jdbcType=INTEGER}, #{proportiongold,jdbcType=INTEGER}, #{proportionchips,jdbcType=INTEGER}, 
      #{table,jdbcType=INTEGER}, #{chair,jdbcType=INTEGER}, #{top,jdbcType=INTEGER}, 
      #{minone,jdbcType=INTEGER}, #{maxone,jdbcType=INTEGER}, #{afee,jdbcType=INTEGER}, 
      #{intype,jdbcType=INTEGER}, #{displays,jdbcType=VARCHAR}, #{placeholder,jdbcType=VARCHAR}, 
      #{isactive,jdbcType=TINYINT}, #{timecreate,jdbcType=TIMESTAMP}, #{timeopen,jdbcType=TIMESTAMP}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.idealighter.game.dao.dic.po.OrdermaRoom">
    insert into orderma_room
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="name != null">
        name,
      </if>
      <if test="type != null">
        type,
      </if>
      <if test="maxnum != null">
        maxNum,
      </if>
      <if test="free != null">
        free,
      </if>
      <if test="general != null">
        general,
      </if>
      <if test="crowded != null">
        crowded,
      </if>
      <if test="lower != null">
        lower,
      </if>
      <if test="upper != null">
        upper,
      </if>
      <if test="ordinarpeople != null">
        ordinarPeople,
      </if>
      <if test="proportiongold != null">
        proportionGold,
      </if>
      <if test="proportionchips != null">
        proportionChips,
      </if>
      <if test="table != null">
        table,
      </if>
      <if test="chair != null">
        chair,
      </if>
      <if test="top != null">
        top,
      </if>
      <if test="minone != null">
        minOne,
      </if>
      <if test="maxone != null">
        maxOne,
      </if>
      <if test="afee != null">
        afee,
      </if>
      <if test="intype != null">
        inType,
      </if>
      <if test="displays != null">
        displays,
      </if>
      <if test="placeholder != null">
        placeHolder,
      </if>
      <if test="isactive != null">
        isActive,
      </if>
      <if test="timecreate != null">
        timeCreate,
      </if>
      <if test="timeopen != null">
        timeOpen,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="type != null">
        #{type,jdbcType=INTEGER},
      </if>
      <if test="maxnum != null">
        #{maxnum,jdbcType=INTEGER},
      </if>
      <if test="free != null">
        #{free,jdbcType=INTEGER},
      </if>
      <if test="general != null">
        #{general,jdbcType=INTEGER},
      </if>
      <if test="crowded != null">
        #{crowded,jdbcType=INTEGER},
      </if>
      <if test="lower != null">
        #{lower,jdbcType=INTEGER},
      </if>
      <if test="upper != null">
        #{upper,jdbcType=INTEGER},
      </if>
      <if test="ordinarpeople != null">
        #{ordinarpeople,jdbcType=INTEGER},
      </if>
      <if test="proportiongold != null">
        #{proportiongold,jdbcType=INTEGER},
      </if>
      <if test="proportionchips != null">
        #{proportionchips,jdbcType=INTEGER},
      </if>
      <if test="table != null">
        #{table,jdbcType=INTEGER},
      </if>
      <if test="chair != null">
        #{chair,jdbcType=INTEGER},
      </if>
      <if test="top != null">
        #{top,jdbcType=INTEGER},
      </if>
      <if test="minone != null">
        #{minone,jdbcType=INTEGER},
      </if>
      <if test="maxone != null">
        #{maxone,jdbcType=INTEGER},
      </if>
      <if test="afee != null">
        #{afee,jdbcType=INTEGER},
      </if>
      <if test="intype != null">
        #{intype,jdbcType=INTEGER},
      </if>
      <if test="displays != null">
        #{displays,jdbcType=VARCHAR},
      </if>
      <if test="placeholder != null">
        #{placeholder,jdbcType=VARCHAR},
      </if>
      <if test="isactive != null">
        #{isactive,jdbcType=TINYINT},
      </if>
      <if test="timecreate != null">
        #{timecreate,jdbcType=TIMESTAMP},
      </if>
      <if test="timeopen != null">
        #{timeopen,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.idealighter.game.dao.dic.po.OrdermaRoomExample" resultType="java.lang.Long">
    select count(*) from orderma_room
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update orderma_room
    <set>
      <if test="record.id != null">
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.name != null">
        name = #{record.name,jdbcType=VARCHAR},
      </if>
      <if test="record.type != null">
        type = #{record.type,jdbcType=INTEGER},
      </if>
      <if test="record.maxnum != null">
        maxNum = #{record.maxnum,jdbcType=INTEGER},
      </if>
      <if test="record.free != null">
        free = #{record.free,jdbcType=INTEGER},
      </if>
      <if test="record.general != null">
        general = #{record.general,jdbcType=INTEGER},
      </if>
      <if test="record.crowded != null">
        crowded = #{record.crowded,jdbcType=INTEGER},
      </if>
      <if test="record.lower != null">
        lower = #{record.lower,jdbcType=INTEGER},
      </if>
      <if test="record.upper != null">
        upper = #{record.upper,jdbcType=INTEGER},
      </if>
      <if test="record.ordinarpeople != null">
        ordinarPeople = #{record.ordinarpeople,jdbcType=INTEGER},
      </if>
      <if test="record.proportiongold != null">
        proportionGold = #{record.proportiongold,jdbcType=INTEGER},
      </if>
      <if test="record.proportionchips != null">
        proportionChips = #{record.proportionchips,jdbcType=INTEGER},
      </if>
      <if test="record.table != null">
        table = #{record.table,jdbcType=INTEGER},
      </if>
      <if test="record.chair != null">
        chair = #{record.chair,jdbcType=INTEGER},
      </if>
      <if test="record.top != null">
        top = #{record.top,jdbcType=INTEGER},
      </if>
      <if test="record.minone != null">
        minOne = #{record.minone,jdbcType=INTEGER},
      </if>
      <if test="record.maxone != null">
        maxOne = #{record.maxone,jdbcType=INTEGER},
      </if>
      <if test="record.afee != null">
        afee = #{record.afee,jdbcType=INTEGER},
      </if>
      <if test="record.intype != null">
        inType = #{record.intype,jdbcType=INTEGER},
      </if>
      <if test="record.displays != null">
        displays = #{record.displays,jdbcType=VARCHAR},
      </if>
      <if test="record.placeholder != null">
        placeHolder = #{record.placeholder,jdbcType=VARCHAR},
      </if>
      <if test="record.isactive != null">
        isActive = #{record.isactive,jdbcType=TINYINT},
      </if>
      <if test="record.timecreate != null">
        timeCreate = #{record.timecreate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.timeopen != null">
        timeOpen = #{record.timeopen,jdbcType=TIMESTAMP},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update orderma_room
    set id = #{record.id,jdbcType=INTEGER},
      name = #{record.name,jdbcType=VARCHAR},
      type = #{record.type,jdbcType=INTEGER},
      maxNum = #{record.maxnum,jdbcType=INTEGER},
      free = #{record.free,jdbcType=INTEGER},
      general = #{record.general,jdbcType=INTEGER},
      crowded = #{record.crowded,jdbcType=INTEGER},
      lower = #{record.lower,jdbcType=INTEGER},
      upper = #{record.upper,jdbcType=INTEGER},
      ordinarPeople = #{record.ordinarpeople,jdbcType=INTEGER},
      proportionGold = #{record.proportiongold,jdbcType=INTEGER},
      proportionChips = #{record.proportionchips,jdbcType=INTEGER},
      table = #{record.table,jdbcType=INTEGER},
      chair = #{record.chair,jdbcType=INTEGER},
      top = #{record.top,jdbcType=INTEGER},
      minOne = #{record.minone,jdbcType=INTEGER},
      maxOne = #{record.maxone,jdbcType=INTEGER},
      afee = #{record.afee,jdbcType=INTEGER},
      inType = #{record.intype,jdbcType=INTEGER},
      displays = #{record.displays,jdbcType=VARCHAR},
      placeHolder = #{record.placeholder,jdbcType=VARCHAR},
      isActive = #{record.isactive,jdbcType=TINYINT},
      timeCreate = #{record.timecreate,jdbcType=TIMESTAMP},
      timeOpen = #{record.timeopen,jdbcType=TIMESTAMP}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.idealighter.game.dao.dic.po.OrdermaRoom">
    update orderma_room
    <set>
      <if test="name != null">
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="type != null">
        type = #{type,jdbcType=INTEGER},
      </if>
      <if test="maxnum != null">
        maxNum = #{maxnum,jdbcType=INTEGER},
      </if>
      <if test="free != null">
        free = #{free,jdbcType=INTEGER},
      </if>
      <if test="general != null">
        general = #{general,jdbcType=INTEGER},
      </if>
      <if test="crowded != null">
        crowded = #{crowded,jdbcType=INTEGER},
      </if>
      <if test="lower != null">
        lower = #{lower,jdbcType=INTEGER},
      </if>
      <if test="upper != null">
        upper = #{upper,jdbcType=INTEGER},
      </if>
      <if test="ordinarpeople != null">
        ordinarPeople = #{ordinarpeople,jdbcType=INTEGER},
      </if>
      <if test="proportiongold != null">
        proportionGold = #{proportiongold,jdbcType=INTEGER},
      </if>
      <if test="proportionchips != null">
        proportionChips = #{proportionchips,jdbcType=INTEGER},
      </if>
      <if test="table != null">
        table = #{table,jdbcType=INTEGER},
      </if>
      <if test="chair != null">
        chair = #{chair,jdbcType=INTEGER},
      </if>
      <if test="top != null">
        top = #{top,jdbcType=INTEGER},
      </if>
      <if test="minone != null">
        minOne = #{minone,jdbcType=INTEGER},
      </if>
      <if test="maxone != null">
        maxOne = #{maxone,jdbcType=INTEGER},
      </if>
      <if test="afee != null">
        afee = #{afee,jdbcType=INTEGER},
      </if>
      <if test="intype != null">
        inType = #{intype,jdbcType=INTEGER},
      </if>
      <if test="displays != null">
        displays = #{displays,jdbcType=VARCHAR},
      </if>
      <if test="placeholder != null">
        placeHolder = #{placeholder,jdbcType=VARCHAR},
      </if>
      <if test="isactive != null">
        isActive = #{isactive,jdbcType=TINYINT},
      </if>
      <if test="timecreate != null">
        timeCreate = #{timecreate,jdbcType=TIMESTAMP},
      </if>
      <if test="timeopen != null">
        timeOpen = #{timeopen,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.idealighter.game.dao.dic.po.OrdermaRoom">
    update orderma_room
    set name = #{name,jdbcType=VARCHAR},
      type = #{type,jdbcType=INTEGER},
      maxNum = #{maxnum,jdbcType=INTEGER},
      free = #{free,jdbcType=INTEGER},
      general = #{general,jdbcType=INTEGER},
      crowded = #{crowded,jdbcType=INTEGER},
      lower = #{lower,jdbcType=INTEGER},
      upper = #{upper,jdbcType=INTEGER},
      ordinarPeople = #{ordinarpeople,jdbcType=INTEGER},
      proportionGold = #{proportiongold,jdbcType=INTEGER},
      proportionChips = #{proportionchips,jdbcType=INTEGER},
      table = #{table,jdbcType=INTEGER},
      chair = #{chair,jdbcType=INTEGER},
      top = #{top,jdbcType=INTEGER},
      minOne = #{minone,jdbcType=INTEGER},
      maxOne = #{maxone,jdbcType=INTEGER},
      afee = #{afee,jdbcType=INTEGER},
      inType = #{intype,jdbcType=INTEGER},
      displays = #{displays,jdbcType=VARCHAR},
      placeHolder = #{placeholder,jdbcType=VARCHAR},
      isActive = #{isactive,jdbcType=TINYINT},
      timeCreate = #{timecreate,jdbcType=TIMESTAMP},
      timeOpen = #{timeopen,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>